# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment and package files
.env
*.env
*.egg-info/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/

# Others
*.bak
*.swp
*.tmp

# Ignore virtual environments
venv/
.env/
